{% extends 'base.html' %}
{% block title %} Goal List
{% endblock title %}

{% block content %}
<div  class="chart-container" style="position: relative; height:50vh; width:50vw; margin: auto;" >
<h1>Your Goals</h1>
{%if Goals%}
  {% for goal in Goals %}
        
          <div style="border-style: groove; padding: 2%; border-radius: 10px; margin: 20px;">            
          <h1 ><a  href="{% url 'goal-update' goal.id %}">{{ goal.name }}</a> {% if goal.done %}<i class="material-icons" style="font-size:40px;color:green;padding-left: 60px;">done</i>{%endif %}</h1> </div> 
  {% endfor %}
{%else%}
          <p style="color: red;font-size: medium;">No goals added<p>
{%endif%}
</div>
{% endblock content %}


