{% extends 'base.html' %}
{% block title %} Homepage
{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
{% if messages %} 
{% for message in messages %}
<div style=" background-color: rgb(184, 238, 197);  text-align: center; font-size: 15;">
    {{message}}
</div>{% endfor %}
{% endif %}

<div  class="chart-container" style="position: relative; height:50vh; width:50vw; margin: auto;" >
<h1>This Week's Activities</h1>
<canvas id="myChart" ></canvas>
<div  class="chart-container" style="position: relative; height:50vh; width:50vw; margin: auto;" >
    <h1>Your Goals</h1>
    {% if Goals %}    
    {% for goal in Goals %}
            
              <div style="border-style: groove; padding: 2%; border-radius: 10px; margin: 20px;">
                
                
                <h1 ><a  href="{% url 'goal-update' goal.id %}">{{ goal.name }}</a> {% if goal.done %}<i class="material-icons" style="font-size:40px;color:green;padding-left: 60px;">done</i>{%endif %}</h1> </div>
                          
        {% endfor %}
        {% else %}
        <h3>No goals left to be completed</h3>
        
        {% endif%}
        <a href="{% url 'goal-list'%}"> View All Goals</a>    
    </div>

</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        
        data: {
            
            labels: [{%for label in labels %}'{{ label }}', {% endfor %}],
            datasets: [{
                label:'Weekly Activity (in hours)',
                data: [{%for value in values %} {{ value }}, {% endfor %}],
                backgroundColor: [
                    {%for colour in colours %} '{{ colour}}', {% endfor %}
            
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% else %}
<div style="position: relative; margin: 0 auto; padding: 15; width: 100vh;" >
    <h1>
        You are not logged in!
    </h1><br>
    <a href="{% url 'login'%}"> Log In </a>
</div>
{% endif %}
{% endblock content %}


