{% extends 'base.html' %}



{% block title %} homepage
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}


<div  class="chart-container" style="position: relative; height:50vh; width:50vw; margin: auto;" >
    <h1>Daily Activity</h1>
<canvas id="myChart" ></canvas>
<h1>Weekly Activity</h1>
<canvas id="myChart2" ></canvas>
<h1>Monthly Activity </h1>
<canvas id="myChart3" ></canvas>
</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        
        data: {
            
            labels: [{%for label in labels %}'{{ label }}', {% endfor %}],
            datasets: [{
                label:'Daily Activity (in hours)',
                data: [{%for value in values %} {{ value }}, {% endfor %}],
                backgroundColor: [
                    {%for colour in colours %} '{{ colour}}', {% endfor %}
            
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        
        data: {
            
            labels: [{%for label in labels %}'{{ label }}', {% endfor %}],
            datasets: [{
                label:'Weekly Activity (in hours)',
                data: [{%for value in values %} {{ value }}, {% endfor %}],
                backgroundColor: [
                    {%for colour in colours %} '{{ colour}}', {% endfor %}
            
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        
        data: {
            
            labels: [{%for label in labels %}'{{ label }}', {% endfor %}],
            datasets: [{
                label:'Monthly Activity (in hours)',
                data: [{%for value in values %} {{ value }}, {% endfor %}],
                backgroundColor: [
                    {%for colour in colours %} '{{ colour}}', {% endfor %}
            
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>



{% else %}
<div style="position: relative; margin: 0 auto; padding: 15; width: 100vh;" >
    <h1>
        You are not logged in!
    </h1><br>
    <a href="{% url 'login'%}"> Log In </a>
</div>

{% endif %}
{% endblock content %}


