{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{% if user.is_authenticated %}
<meta http-equiv = "refresh" content = "0; url = {% url 'homepage'%} "/>
{% endif %}
{% endblock head %}

{% block title %} registration
{% endblock title %}

{% block content %}

<div style="position: relative; margin: 0 auto; padding: 15; width: 100vh;" >
    <h1>Log In</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'register'%}">Sign Up Now</a>
        </small>
    </div>
</div>



{% endblock content %}

