<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block head %} {% endblock head %}

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <style>
  .htnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100;
  overflow: hidden;

  background-color: #333;
  
}

.htheader {
  float: left;
}
.htright{
  float:right;
}

.htheader a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 15px 25px;
  
}
.htheader a:hover {
  background-color: #111;
  color: rgb(105, 109, 163);
}


  </style>
  {% block style %}{% endblock style %}

  
  <body> 
    <ul class=htnavbar>
      <li style="float: left;display: block; color: pink; text-align: center; padding: 15px 25px;" >HabitTracker</li>
      
     
      
      {% if user.is_authenticated %}
      <li class=htheader ><a href="{% url 'homepage'%}">Home</a></li>
      <li class=htheader><a href="{% url 'activity-log'%}">Log Activity</a></li>
      <li class=htheader><a href="{% url 'registeractivity'%}">My Activity List</a></li>
      <li class=htheader><a href="{% url 'registergoal'%}">Add Goal</a></li>
      <li class=htheader><a href="{% url 'timetrends'%}">View Timewise Trends</a></li>
      <li class=htheader><a href="{% url 'acttrends'%}">View Activity Trends </a></li>
      <li class='htheader htright'><a href="{% url 'logout'%}">Logout</a></li>
      
      
      {% endif %}

      
      
    </ul>  
    

   {% block content %}{% endblock content %}
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>